<h2>Here is your booking</h2>
<p>Name: <%= @booking.user.name %> <%= @booking.user.surname %></p>
<p>Comment: <%= @booking.comment %></p>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
