<div class="banner d-flex align-items-center justify-content-between" style="background-image: url(<%= asset_path("dark_autumn.jpeg") %>);">
  <h1><strong>YOU'RE BOOKED!</strong></h1>
  <div class="booking-container">
    <p><strong>Name:</strong>       <%= @booking.user.name %> <%= @booking.user.surname %></p>
    <p><strong>Comment:</strong>    <%= @booking.comment %></p>
    <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
    <p><strong>End Date:</strong>   <%= @booking.end_date %></p>
    <p><strong>Price:</strong>      <%= @booking_price %></p>

<% if @booking.car.user == current_user %>
  <%= simple_form_for [@booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :status,
      collection: [['Accept', 'accepted'], ['Decline', 'declined'], ['Pending', 'pending']],
      as: :radio_buttons %>
    </div>
    <div class="form-actions">
    <%= f.button :submit %>
    </div>
  <% end %>
<% else %>
<p>Status: <%= @booking.status %></p>
  <% end %>
    </div>
<div>
 <%= link_to "Home", root_path, class: "btn btn-ghost m-2" %>
</div>
<div>
 <%= link_to "Dashboard", dashboard_path, class: "btn btn-ghost m-2" %>
</div>
