<h2>Here is your booking</h2>
<p>Name: <%= @booking.user.name %> <%= @booking.user.surname %></p>
<p>Comment: <%= @booking.comment %></p>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p>Price: <%= @booking_price %></p>

<% if @booking.car.user == current_user %>
  <%= simple_form_for [@booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :status,
      collection: [['Accept', 'accepted'], ['Decline', 'declined'], ['Pending', 'pending']],
      as: :radio_buttons %>
    </div>
    <div class="form-actions">
    <%= f.button :submit %>
    </div>
  <% end %>
<% else %>
<p>Status: <%= @booking.status %></p>
  <% end %>
    </div>
<div>
 <%= link_to "Home", root_path, class: "btn btn-ghost m-2" %>
</div>
<div>
 <%= link_to "Dashboard", dashboard_path, class: "btn btn-ghost m-2" %>
</div>
