<div class="banner" style="background-image: url(<%= asset_path("grass.jpg") %>);">
  <div class="container">
    <h1><strong>Into The Wild</strong></h1>
    <p>Drive anywhere, anytime</p>
  </div>
</div>

<div class ="cards">
  <% @cars.each do |car| %>
    <div>
      <% if car.photos.attached? %>
        <div>
          <%= cl_image_tag (car.photos.first.key), width: 400, height: 300, crop: :fill %>
        </div>
      <% else %>
        <div>
          <img src="https://images.wsj.net/im-266812/?width=700&height=467" width=400px height=300px alt="..."/>
        </div>
      <% end %>
      <div>
            <h2><%=car.title %></h2>
            <p><%=car.make %></p>
            <p><%=car.model%></p>
            <p><%=car.consumption%></p>
            <p><%=car.price%></p>
             <%= link_to car_path(car) do %>
                <%= "view offer" %>
                <% end %>
      </div>
    </div>
  <% end %>
</div>
