<div class="banner" style="background-image: url(<%= asset_path("grass.jpg") %>);">
  <div class="container">
    <h1><strong>Into The Wild</strong></h1>
    <p>Drive anywhere, anytime</p>
  </div>
</div>

<div class ="cards">
  <% @cars.each do |car| %>
    <div>
    <% if car.photo.attached? %>
      <div class="card-category" style="width: 30rem; background-image: url(<%= cl_image_path car.photo.key %>);">
            <%=car.title %>
      </div>
    <% else %>
      <%=car.title %>
    <% end %>
      <div>
            <p><%=car.make %></p>
            <p><%=car.model%></p>
            <p><%=car.consumption%></p>
            <p><%=car.price%></p>
      </div>
    </div>
  <% end %>
</div>
