<div class="banner" style="background-image: url(https://res.cloudinary.com/dp3xfbod8/image/upload/v1685716063/dark_outside_aihevy.jpg)">
  <div class="container">
    <h1><strong>Back to</strong></h1>
    <h1><strong>nature.</strong></h1>
    <p>Back to your routes. Back home.</p>
    <!--ADDING THE SEARCH FUNCTION -->
  <div class="search-bar">
    <%= form_with url: root_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            placeholder: "Make or model"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-ghost-dark my-2 my-sm-0" %>
    <% end %>
  </div>
  <!-- [...] -->
  </div>
</div>

<div class="cards ">


  <% @cars.each_with_index do |car, index| %>
    <%= link_to car_path(car), class: "card-homepage text-decoration-none" do %>
      <% if car.photos.attached? %>
        <div class="card-category">

          <div id="carouselExampleFade-<%= index %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2 class="card-title text-decoration-none"><%= car.title %></h2>
                <%= cl_image_tag(car.photos.first.key, width: 400, height: 300, crop: :fill, class: "d-block w-100") %>
              </div>
              <% car.photos.drop(1).each do |photo| %>
                <div class="carousel-item">
                <h2 class="card-title"><%= car.title %></h2>
                  <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill, class: "d-block w-100") %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade-<%= index %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade-<%= index %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      <% else %>
        <div class="card-category">
          <img src="https://images.wsj.net/im-266812/?width=700&height=467" width="400px" height="300px" alt="..." />
          <h2 class="card-title"><%= car.title %></h2>
        </div>
      <% end %>
      <div class="card-content">
        <div class="card-content-left">
          <div class="car-make-model">
            <p><i class="fa-solid fa-car"></i><strong></strong> <%= car.make %></p>
            <p><strong><i class="fa-solid fa-gear"></i></strong> <%= car.model %></p>
          </div>
          <p><i class="fa-solid fa-gas-pump"></i> <%=car.consumption %> L/100km</p>
        </div>
        <div class="card-content-right">
          <i class="fa-solid fa-heart"></i>
          <p>R <%= car.price.round %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
