<div class="banner" style="background-image: url(<%= asset_path("grass.jpg") %>);">
  <div class="container">
    <h1><strong>Into The Wild</strong></h1>
    <p>Drive anywhere, anytime</p>
  </div>
</div>

<div class ="cards">
  <% @cars.each do |car| %>
    <div>
    <img src="https://images.wsj.net/im-266812/?width=700&height=467" width=400px alt="..."/>
            <h2><%=car.title %></h2>
    <%# <% if car.photos.attached? %>
      <%# <div <%= cl_image_tag (car.photos.first.key) %>
            <%# <%=car.title %>
      <%# </div> %>
    <%# <% else %>
      <%# <%=car.title %>
    <%# <% end %>
      <div>
            <p><%=car.make %></p>
            <p><%=car.model%></p>
            <p><%=car.consumption%></p>
            <p><%=car.price%></p>
             <%= link_to car_path(car) do %>
                <%= "view offer" %>
                <% end %>
      </div>
    </div>
  <% end %>
</div>
