<%= simple_form_for(@car) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :accomodation %>
    <%= f.input :cooking %>
    <%= f.input :seats %>
    <%= f.input :consumption %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
