 <div class="card-trip">
      <% if @car.photos.attached? %>
        <div class="card-category-show">

          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag(@car.photos.first.key, width: 400, height: 300, crop: :fill, class: "d-block w-100") %>
              </div>
              <% @car.photos.drop(1).each do |photo| %>
                <div class="carousel-item">
                  <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill, class: "d-block w-100") %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
  <div class="card-trip-infos">

     <div>
      <h1><%= @car.title %></h1>
      <p><%= @car.description %></p>
      <p><strong>Make:</strong> <%= @car.make%></p>
      <p><strong>Model:</strong> <%= @car.model %></p>
      <% if @car.accomodation %>
       <p> 🏠 </p>
      <% end %>
      <% if @car.cooking %>
      <p> 🍳 </p>
      <% end %>
      <p><strong>Seats:</strong> <%= @car.seats %></p>
      <p><strong>Consumption:</strong> <%= @car.consumption %> L/100km</p>


    </div>
    <h2 class="card-trip-pricing">Car Pricing: R<%= @car.price %></h2>
  </div>
</div>

<div class="card-trip-infos">
  <%= link_to "Back to car listings", root_path, class: "btn btn-ghost" %>
  <%= link_to "Make a booking", new_car_booking_path(@car), class:"btn btn-ghost" %>
</div>
