 <div class="card-trip">
  <img src= "https://bdc2020.o0bc.com/wp-content/uploads/2018/05/2018-land-rover-discovery-svx-is-a-supercharged-v8-powered-off-road-warrior-120348_1.jpg"/>
  <div class="card-trip-infos">

     <div>
      <h1><%= @car.title %></h1>
      <p><%= @car.description %></p>
      <p><strong>Company:</strong> <%= @car.make%></p>
      <p><strong>Model:</strong> <%= @car.model %></p>
       <%= simple_form_for(@car) do |f| %>
    <div class="form-inputs">
      <p><%= f.input :accomodation %></p>
      <p><%= f.input :cooking %></p>
      <p><%= f.input :seats %></p>
      <p><%= f.input :consumption %></p>
    <% end %>
    </div>
    </div>
    <h2 class="card-trip-pricing"><%= @car.price %>R</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="card-trip-user avatar-bordered" />
  </div>
</div>





<%# <ul>
<li>
<%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
<%# </li>
</ul> %>

<div>
<% if policy(@car).edit? %>
  <%= link_to "Edit this listing", edit_car_path(@car) %>
  <% end %> |
  <%= link_to "Back to car listings", cars_path %>
<% if policy(@car).destroy? %>
  <%= button_to "Destroy this listing", @car, method: :delete %>
  <% end %>
  <%= link_to "Make a booking", new_car_booking_path(@car) %>
</div>
