
<div class=" container ">
  <h1 class="show-title"><%= @car.title %></h1>
  <h2 class="show-h2"><%= @car.description %></h2>
  <div class="images-container ">
    <% @car.photos.each do |photo|%>
    <%=cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
    <% end %>
  </div>
  <div class="info-container">
    <div class="description-container">
      <p><strong>Make:</strong> <%= @car.make%></p>
      <p><strong>Model:</strong> <%= @car.model %></p>
      <% if @car.accomodation %>
        <p><i class="fa-solid fa-house"></i> Has accomodation</p>
      <% end %>
      <% if @car.cooking %>
        <p><i class="fa-solid fa-kitchen-set"></i> Includes cooking equipment</p>
      <% end %>
      <p><strong>Seats:</strong> <%= @car.seats %></p>
      <p><strong>Consumption:</strong> <%= @car.consumption %> L/100km</p>
      <p><strong>R</strong> <%= @car.price.round %>/per day</p>
    </div>

    <div class="booking-container">
      <div class="form-wrapper">
      <%= render partial: 'form_booking', locals: { car: @car, booking: @booking} %>
    </div>
    </div>
  </div>

