
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h1><%= @car.title %></h1>
      <h1><%= @car.description %></h1>
      <h1><%= @car.make%></h1>
      <h1><%= @car.model %></h1>
      <h1><%= @car.accomodation %></h1>
      <h1><%= @car.cooking %></h1>
      <h1><%= @car.seats %></h1>
      <h1><%= @car.consumption %></h1>
      <h1><%= @car.available %></h1>

    </div>
    <h2 class="card-trip-pricing"> <%= @car.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<%# <ul>
<li>
<%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
<%# </li>
</ul> %> 

<div>
<% if policy(@car).edit? %>
  <%= link_to "Edit this listing", edit_car_path(@car) %>
  <% end %> |
  <%= link_to "Back to car listings", cars_path %>
<% if policy(@car).destroy? %>
  <%= button_to "Destroy this listing", @car, method: :delete %>
  <% end %>
</div>
