<!DOCTYPE html>
<html>
  <head>
    <title>IntoTheVeld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class = "main-container">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
